CONFIG_EXAMPLE_TYPE_AM2301=y
CONFIG_EXAMPLE_DATA_GPIO=7
CONFIG_EXAMPLE_INTERNAL_PULLUP=y

# Forca o console no UART0 para o Wokwi serial monitor capturar
CONFIG_ESP_CONSOLE_UART_DEFAULT=y
CONFIG_ESP_CONSOLE_USB_SERIAL_JTAG=n
